@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    color: #fff;
    cursor: pointer;
}

img {
    object-fit: cover;
    object-position: top;
    border-radius: 0.5rem;
}

html,
body {
    height: 100vh;
    background: linear-gradient(#050505, #18181d);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: #050505;
}

html::-webkit-scrollbar-thumb {
    background: rgb(168, 35, 35);
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    background: linear-gradient(#050505, #18181d);
}

.container .sidebar {
    height: 100vh;
    background-color: #18181d;
    padding: 1.25rem 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10000;
    transition: all 0.6s ease;
}

.container .sidebar .logo {
    display: flex;
    align-items: center;
    gap: 0.375rem;
}

.container .sidebar .logo>i {
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.container .sidebar .logo a {
    font-weight: bold;
    transition: all 0.3s ease;
}

.container .sidebar .logo a:hover,
.container .sidebar .menu ul li:hover a,
.container .sidebar .menu ul li:hover i,
.container main header .nav-links a:hover {
    color: rgb(168, 35, 35);
}

.container .sidebar .playing .top a:hover {
    color: rgb(168, 35, 35);
    text-shadow: 0 4px 10px black;
    transition: 0.3s ease;
    cursor: pointer;
}

.container .sidebar .menu h5 {
    color: #919191;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
}

.container .sidebar .menu ul {
    list-style: none;
}

.container .sidebar .menu ul li {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    cursor: pointer;
}

.container .sidebar .menu ul li a {
    font-size: 0.875rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.container .sidebar .playing .top {
    background-color: #32323d;
    border-radius: 0.375rem 0.375rem 0 0;
    padding: 0.625rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: #fff;
    font-size: 0.8125rem;
}

.container .sidebar .playing .top img {
    width: 2.25rem;
    height: 2.25rem;
}

.container .sidebar .playing .bottom {
    background-color: #25252d;
    border-radius: 0 0 0.375rem 0.375rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    font-size: 0.75rem;
}

.container .sidebar .playing .bottom i,
.container .sidebar .playing .bottom p {
    color: #919191;
}

.container main {
    padding: 1.25rem 2.25rem;
}

.container main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container main header .nav-links {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.container main header .nav-links a {
    text-transform: uppercase;
    color: #919191;
    transition: all 0.3s ease;
}

.container main header .nav-links button,
.container .sidebar .logo button {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #464748;
    border: 1px solid #464748;
    font-size: 1.25rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.container main header .search {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    width: 70%;
    background-color: #1d1d1d;
    border: 1px solid #464748;
    padding: 0.625rem;
    border-radius: 0.5rem;
}

.container main header .search input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.container main .trending {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.container main .trending .left .info {
    margin-top: 0.75rem;
    padding: 1.625rem;
}

.container main .trending .left .info h2 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.container main .trending .left .info h4,
.container main .trending .left .info h5 {
    display: inline;
}

.container main .trending .left .info h5 {
    margin-left: 0.75rem;
    color: #919191;
}

.container main .trending .left .info .buttons {
    margin-top: 1.875rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container main .trending .left .info .buttons button {
    padding: 0.75rem 1rem;
    background-color: rgb(168, 35, 35);
    border: none;
    border-radius: 0.875rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.container main .trending .left .info .buttons i {
    color: rgb(168, 35, 35);
    font-size: 1.25rem;
    border: 0.125rem solid #fff;
    padding: 0.625rem;
    border-radius: 50%;
}

.container main .trending img {
    width: 18.75rem;
    height: 12.5rem;
}

.container main .playlist {
    margin-top: 0.875rem;
    display: flex;
    gap: 1.25rem;
}

.container main .genres {
    color: #fff;
    background-color: #202026;
    padding: 1.25rem;
    border-radius: 0.375rem;
    width: 40%;
}

.container main .playlist .genres .header,
.container main .playlist .music-list .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.container main .playlist .genres .header a,
.container main .playlist .music-list .header a {
    color: #919191;
    font-size: 0.75rem;
}

.container main .playlist .genres .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.625rem;
}

.container main .playlist .genres .items .item {
    padding: 1.375rem 0.625rem;
    background-color: rgb(168, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    cursor: pointer;
}

.container main .playlist .genres .items .item p {
    font-size: 0.875rem;
    font-weight: bold;
}

.container main .playlist .genres .items .item:nth-child(1) {
    background-color: #474a8a;
}

.container main .playlist .genres .items .item:nth-child(2) {
    background-color: #a69984;
}

.container main .playlist .genres .items .item:nth-child(3) {
    background-color: #a24c34;
}

.container main .playlist .genres .items .item:nth-child(4) {
    background-color: #0d4045;
}

.container main .playlist .genres .items .item:nth-child(5) {
    background-color: #a67894;
}

.container main .playlist .genres .items .item:nth-child(6) {
    background-color: #a54747;
}

.container main .playlist .music-list {
    background-color: #202026;
    padding: 1.25rem;
    color: #fff;
    border-radius: 0.375rem;
    width: 65%;
}

.container main .playlist .music-list .items .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.container main .playlist .music-list .items .item:last-child {
    margin-bottom: 0;
}

.container main .playlist .music-list .items .item .info,
.container main .playlist .music-list .items .item .actions {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.container main .playlist .music-list .items .item .info p {
    color: #919191;
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 0.375rem;
}

.container main .playlist .music-list .items .item .info img {
    width: 3.125rem;
    height: 3.125rem;
}

.container main .playlist .music-list .items .item .actions p {
    font-size: 0.8125rem;
    font-weight: bold;
}

.container main .playlist .music-list .items .item .actions .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32323d;
    padding: 0.300rem;
    border: 0.125rem solid #464748;
    border-radius: 0.375rem;
}

.container main .playlist .music-list .items .item .actions .icon i {
    font-size: 0.625rem;
    color: #a54747;
}

.container main .playlist .music-list .items .item .actions i {
    color: #919191;
}

.container .right-section {
    padding: 1.25rem 2.25rem 1.25rem 0;
}

.container .right-section .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.125rem;
    margin-bottom: 2.5rem;
}

.container .right-section .profile .user {
    display: flex;
}

.container .right-section .profile .user .left {
    display: flex;
    align-items: center;
    background: #32323d;
    padding: 0.375rem;
    border-radius: 0.375rem 0 0 0.375rem;
}

.container .right-section .profile .user .left img {
    width: 1.875rem;
}

.container .right-section .profile .user .right {
    background-color: #25252d;
    border-radius: 0 0.375rem 0.375rem 0;
    padding: 0.8125rem;
    color: #fff;
}

.container .right-section .music-player {
    color: #fff;
    background-color: #202026;
    border-radius: 0.375rem;
    height: 88%;
    display: flex;
    flex-direction: column;
}

.container .right-section .music-player .top-section {
    padding: 1.25rem;
    height: 86%;
}

.container .right-section .music-player .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.875rem;
}

.container .right-section .music-player .song-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.container .right-section .music-player .song-info img,
.container .right-section .music-player .song-info video {
    width: 17.5rem;
    height: 13.75rem;
}

.container .right-section .music-player .description h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.container .right-section .music-player .description h5 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.container .right-section .music-player .description p {
    color: #919191;
    font-size: 0.75rem;
    font-weight: bold;
}

.container .right-section .music-player .song-info .process {
    display: flex;
    align-items: center;
    margin: 0.625rem 0;
}

.container .right-section .music-player .song-info .process p {
    font-size: 0.6875rem;
}

.container .right-section .music-player .song-info .process .active-line {
    position: relative;
    width: 7.5rem;
    height: 0.125rem;
    background-color: #fff;
    margin-left: 1.875rem;
}

.container .right-section .music-player .song-info .process .deactive-line {
    width: 5rem;
    height: 0.125rem;
    background-color: #919191;
    margin-right: 1.875rem;
}

.container .right-section .music-player .song-info .process .active-line::before {
    content: "";
    background-color: #25252d;
    height: 0.625rem;
    width: 0.625rem;
    border: 0.125rem solid #fff;
    position: absolute;
    top: -0.375rem;
    left: 7.5rem;
    border-radius: 50%;
}

.container .right-section .music-player .player-actions {
    background-color: rgb(168, 35, 35);
    height: 26%;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container .right-section .music-player .player-actions .buttons {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    margin-top: 1.5rem;
}

.container .right-section .music-player .player-actions .buttons i {
    font-size: 1.25rem;
}

.container .right-section .music-player .player-actions .buttons .play-button {
    padding: 1rem;
    background-color: #fff;
    color: rgb(168, 35, 35);
    border-radius: 1.125rem;
}

.container .right-section .music-player .player-actions .lycris {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0.5rem;
}





@media screen and (max-width : 1400px) {
    .container .sidebar .playing .bottom p {
        font-size: 10px;
    }

    .container main header .search {
        width: 50%;
    }

    .container main .trending .left .info h2 {
        font-size: 36px;
    }

    .container main .trending img {
        width: 200px;
        height: 180px;
    }

    .container main .playlist .genres {
        width: 30%;
    }

    .container main .playlist .genres .items {
        grid-template-columns: 1fr;
    }

    .container main .playlist .genres .items .item {
        padding: 10px;
    }

    .container main .playlist .genres .items .item p {
        font-size: 12px;
    }

    .container main .playlist .genres .items .item:nth-child(6),
    .container main .playlist .music-list .items .item .info>p {
        display: none;
    }
}




@media screen and (max-width : 1200px) {
    .container main header .search {
        width: 40%;
    }

    .container main .trending .left .info h2 {
        font-size: 24px;
    }

    .container main .trending .left .info h5 {
        display: block;
        font-size: 12px;
        margin-left: 0;
    }

    .container main .trending .left .info .buttons button {
        padding: 10px 12px;
        font-size: 12px;
    }

    .container main .trending .left .info .buttons i {
        font-size: 14px;
    }

    .container main .playlist .genres {
        display: none;
    }

    .container main .playlist .music-list {
        width: 100%;
    }

    .container .right-section .music-player {
        height: 88%;
    }

    .container .right-section .music-player .song-info img {
        width: 220px;
        height: 220px;
    }

    .container .right-section .music-player .song-info .description h3 {
        font-size: 22px;
    }

    .container .right-section .music-player .song-info .process {
        margin: 0;
    }

    .container .right-section .music-player .song-info .process .active-line {
        width: 80px;
    }

    .container .right-section .music-player .song-info .process .active-line::before {
        left: 80px;
    }

    .container .right-section .music-player .song-info .process .deactive-line {
        width: 40px;
    }

    .container .right-section .music-player .player-actions .buttons {
        margin-top: 30px;
    }

    .container .right-section .music-player .player-actions .buttons .play-button {
        padding: 10px;
        border-radius: 16px;
    }
}




@media screen and (max-width : 992px) {
    .container {
        grid-template-columns: 3fr 2fr;
    }

    .container .sidebar {
        position: absolute;
        left: -100%;
    }

    .container .sidebar .playing {
        display: none;
    }

    .container main header .nav-links a {
        font-size: 13px;
    }

    .container main header .search {
        width: 38px;
    }

    .container main header .search input {
        display: none;
    }

    .container main .trending img {
        width: 120px;
        height: 100px;
        margin-top: 66px;
    }

    .container main .playlist {
        margin-top: 40px;
    }

    .container main .right-section .music-player {
        height: 180px;
    }

    .container main .right-section .music-player .song-info img {
        width: 180px;
        height: 180px;
    }

    .container main .right-section .music-player .player-actions .buttons {
        margin-top: 38px;
    }

    .container main .right-section .music-player .player-actions i {
        font-size: 18px;
    }

    .container main header .nav-links button,
    .container .sidebar .logo button {
        display: flex;
    }
}




@media screen and (max-width : 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .container main .trending,
    .container main .playlist {
        display: none;
    }

    .container main header .search {
        width: 40px;
    }

    .container main header .search input {
        display: block;
    }

    .container .right-section .profile {
        justify-content: center;
        margin-bottom: 20px;
    }

    .container .right-section .music-player {
        height: 100%;
    }

    .container .right-section .music-player .song-info img {
        width: 300px;
        height: 190px;
    }

    .container .right-section .music-player .buttons i {
        font-size: 22px;
    }
}



@media (max-width: 993px) and (min-width: 752px) {
    .container main header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .container main header .search {
        width: 100%;
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        background-color: #1d1d1d;
        border: 1px solid #464748;
        border-radius: 0.5rem;
        padding: 0.625rem;
        margin-top: 10px;
    }

    .container main header .search input {
        width: calc(100% - 40px);
        padding: 12px;
        font-size: 14px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 0.375rem;
    }

    .container main header .search i {
        color: #919191;
        font-size: 1.25rem;
        margin-left: 10px;
        align-self: center;
    }

    .container main header .nav-links {
        width: 100%;
    }
}

@media (max-width: 752px) and (min-width: 360px) {
    .container main header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .container main header .search {
        width: 100%;
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        background-color: #1d1d1d;
        border: 1px solid #464748;
        border-radius: 0.5rem;
        padding: 0.625rem;
        margin-top: 10px;
    }

    .container main header .search input {
        width: calc(100% - 40px);
        padding: 12px;
        font-size: 14px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 0.375rem;
    }

    .container main header .search i {
        color: #919191;
        font-size: 1.25rem;
        margin-left: 10px;
        align-self: center;
    }

    .container main header .nav-links {
        width: 100%;
    }

    .container .right-section {
        padding: 0;
    }

    .container .right-section .music-player .top-section {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }
}


.hidden {
    display: none;
}

.song-image {
    width: 100px;
    height: 100px;
}

.play-button {
    cursor: pointer;
}